html {
  font-size: 16px;
}

body {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* Safari */
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  margin: 0;
}
input[type="number"] {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}